Add the two numbers `num1` and `num2`

In [3]:
num1 = 5
num2 = 7

In [4]:
num1+num2

12

Add the two lists `hard_skills` and `soft_skills`

In [11]:
import pandas as pd
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [18]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])

A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [1]:
hard_skills = ["Java", "Python"]
soft_skills = ["Presentation", "Leadership"]
hard_skills +soft_skills

['Java', 'Python', 'Presentation', 'Leadership']

Can you add `num1` to `hard_skills`?

In [5]:
num1+hard_skills

TypeError: unsupported operand type(s) for +: 'int' and 'list'

How do we add a number to a list?

In [12]:
hard_skills+[num1]
hard_skills.append(num1)
print(hard_skills)

['Java', 'Python', 5, 5, 5, 5]

Can you multiply `num1` by `hard_skills`?

In [13]:
hard_skills*num1

['Java',
 'Python',
 5,
 5,
 5,
 5,
 'Java',
 'Python',
 5,
 5,
 5,
 5,
 'Java',
 'Python',
 5,
 5,
 5,
 5,
 'Java',
 'Python',
 5,
 5,
 5,
 5,
 'Java',
 'Python',
 5,
 5,
 5,
 5]

Add the two words `word1` and `word2`

In [15]:
word1 = "Java"
word2 = "Python"

In [14]:
'Java'+'Python'

'JavaPython'

Can you add/concatenate `num1` to `word1`?

In [16]:
word1+str(num1)

'Java5'

Multiply `num1` by `word1`. What do you get?

In [17]:
word1*num1

'JavaJavaJavaJavaJava'

Compare `num1` to `num2`, using `==` and `>=`

In [20]:
num1==num2
num1>=num2

False

Compare `word1` to `word2`, using `==` and `>=`

In [24]:
len(word1)<=len(word2)

True

Compare `hard_skills` to `soft_skills`, using `==` and `>=`

In [28]:
hard_skills = ["Java", "Python"]
soft_skills = ["Java", "Python"]

hard_skills==soft_skills

True