In [1]:
import pandas as pd

In [2]:
countries = pd.Series(['Canada', 'United States', ' Mexico', 
                       'France', 'United Kingdom', 'Germany'])
countries

0            Canada
1     United States
2            Mexico
3            France
4    United Kingdom
5           Germany
dtype: object

Select countries that start with "United".
You will need to create a mask.
A manually created mask looks like:

In [3]:
mask = pd.Series([False, True, False, False, True, False])
countries[mask]

1     United States
4    United Kingdom
dtype: object

Now, think of creating the mask programatically:
- Write a function that takes a string parameter, and returns True/False depending on whether the paramter starts with "United"
- Use the function `apply` to apply to the series and get the mask

In [15]:
countries.str.find('United')==0
countries.str.startswith('United')

0    False
1     True
2    False
3    False
4     True
5    False
dtype: bool

In [25]:
def united_name(name):
    name.startswith('United')

In [26]:
mask=countries.apply(united_name)

ValueError: cannot index with vector containing NA / NaN values

In [30]:
countries[lambda name: name.str.startswith('United')]

1     United States
4    United Kingdom
dtype: object